<header class="py-6 border-b-[1px] border-b-black/20">
  <div class="px-8 flex justify-between items-center">
    <h2 class="font-medium text-2xl">Developer Admin</h2>
    <div class="flex justify-end">
      <div
        class="border-[1px] border-gray-400 px-5 py-3 gap-2 rounded-full flex justify-between items-center mr-16"
      >
        <input
          type="search"
          placeholder="Search anything in Siohioma..."
          class="w-72 outline-none font-light"
        />
        <i class="fa-solid fa-search"></i>
      </div>
      <a
        href="#"
        class="border-[1px] border-gray-400 p-3 rounded-full w-12 h-12 text-center hover:bg-gray-50 mr-3"
      >
        <i class="fa-solid fa-inbox"></i>
      </a>
      <a
        href="#"
        class="border-[1px] border-gray-400 p-3 rounded-full w-12 h-12 text-center hover:bg-gray-50 mr-3"
      >
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </a>
      <a
        href="#"
        class="flex items-center border-[1px] border-gray-400 px-4 py-3 rounded-full stext-center hover:bg-gray-50"
      >
        <span class="font-semibold mr-3">Add new user</span>
        <i class="fa-solid fa-circle-plus"></i>
      </a>
    </div>
  </div>
</header>
