<aside class="sidebar">
  <div class="sidebar-top">
    <header class="flex items-center px-8 pt-8 text-white text-2xl">
      <img src="assets/logo.png" class="w-12 h-12 -ml-2" alt="Siohioma" />
      <span> Siohioma </span>
    </header>
    <div class="pt-7 pb-3 px-8 text-white uppercase tracking-widest">Menu</div>
    <ul class="list-none text-gray-400">
      <li class="group">
        <a href="#" class="sidebar-list-item">
          <i class="fa-solid fa-gauge sidebar-list-item-icon"></i>
          <span>Overview</span>
        </a>
      </li>
      <li class="group mb-1">
        <a href="#" class="sidebar-list-item">
          <i class="fa-solid fa-users sidebar-list-item-icon"></i>
          <span>Users</span>
        </a>
      </li>
      <li class="group mb-1">
        <a href="#" class="sidebar-list-item">
          <i class="fa-solid fa-plug sidebar-list-item-icon"></i>
          <span>Integrations</span>
        </a>
      </li>
      <li class="group mb-1">
        <a href="#" class="sidebar-list-item">
          <i class="fa-solid fa-lock sidebar-list-item-icon"></i>
          <span>Permissions</span>
        </a>
      </li>
      <li class="group mb-1">
        <a href="#" class="sidebar-list-item">
          <i class="fa-solid fa-gears sidebar-list-item-icon"></i>
          <span> Settings </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="sidebar-footer">
    <a href="#" class="flex items-center gap-5">
      <img src="assets/woman.png" class="rounded-full w-14 h-14" alt="User" />
      <div class="flex flex-col">
        <span class="text-white font-semibold">Claudia Silky</span>
        <span class="text-gray-400">claudia.silky&#64;gmail.com</span>
      </div>
    </a>
  </div>
</aside>
